@import 'Header';

$primary-color: #6e676d !important;
$accent-color: #1DBF73 !important;

.header-main-navbar-light {
  @extend .bg-light;
  --bs-bg-opacity: 0.92 !important;
  padding-right: 0 !important;
}

.header-container-light {
  font-weight: bold !important;
  color: $primary-color;

  .nav-item {
    .nav-link {
      color: $primary-color;
      font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;

      &:hover {
        cursor: pointer;
        color: $accent-color;
      }

      &:focus {
        color: $primary-color;
      }
    }

    .nav-link-span {
      @extend .nav-link;
      cursor: pointer;
    }
  }

  .dropdown {
    .dropdown-menu {
      @extend .bg-light;
    }

    .dropdown-toggle {
      color: $primary-color;
      font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;

      &:hover {
        color: $accent-color;
      }

    }
    
    .dropdown-item {
      @extend .bg-light;
      color: $primary-color;
      font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
      padding: 0.7rem 6rem 0.7rem 2rem;

      &:hover {
        color: black !important;
        background-color: rgba(232, 232, 232, 0.65) !important;
      }
    }
  }

  .btn {
    color: $primary-color;
    border-color: $primary-color;
    background-color: transparent !important;
    font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: bold;

    &:hover {
      color: white !important;
      background-color: $accent-color;
      border-color: $accent-color;
    }

    &:focus {
      box-shadow: 0 0 0 0 $primary-color;
    }
  }

  .navbar-toggler {
    color: $primary-color;
    border-color: $primary-color;
  }
}
