@import 'Header';

$primary-color: mintcream !important;
$accent-color: mintcream !important;

.header-main-navbar-dark {
  @extend .bg-transparent;
  padding-right: 0 !important;
}

.header-container-dark {
  font-weight: bold !important;
  color: $primary-color;

  .nav-item {
    .nav-link {
      color: $primary-color;
      font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
      -webkit-transition: 0.5s ease;

      &:hover {
        cursor: pointer;
      }
    }
    
    .nav-link-span {
      @extend .nav-link;
      cursor: pointer;
    }
  }

  .dropdown {
    .dropdown-menu {
      @extend .bg-light;
    }

    .dropdown-toggle {
      color: $primary-color;
      font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;

      &:focus-visible {
        outline: none !important;
      }
    }

    .dropdown-item {
      @extend .bg-light;
      color: rgba(12, 12, 12, 0.75);
      font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
      padding: 0.7rem 6rem 0.7rem 2rem;

      &:hover {
        color: black !important;
        background-color: rgba(232, 232, 232, 0.65) !important;
      }
    }
  }

  .btn {
    color: $primary-color;
    border-color: $primary-color;
    background-color: transparent !important;
    font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: bold;

    &:hover {
      background-color: #1DBF73 !important;
      border-color: #1DBF73 !important;
    }

    &:focus {
      box-shadow: 0 0 0 0 $primary-color;
    }
  }

  // low priority
  .navbar-toggler {
    color: $primary-color;
    border-color: $primary-color;
  }
}
