@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.css";

.sign-up-modal {
  &--header {
    @extend .justify-content-center;
    border-bottom: none;
    margin-top: 20px;
    color: #404145;
    font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
  }

  &--title {
    color: #404145;
    margin-top: -10px;
    font-size: xx-large;
    font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
  }

  &--content {
    height: 600px;
    width: 90%;
    box-shadow: 0 0 12px #313131;
  }

  &--footer {
    font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: 400;

    &--text {
      @extend .sign-up-modal--footer;
      color: #616161;
    }

    &--link {
      @extend .sign-up-modal--footer;
      margin-left: -15px;
      color: #19A463;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.sign-up-row {
  @extend .justify-content-center;
  margin: 12px 0 !important;
}

.sign-up-form-control {
  &:focus {
    box-shadow: none;
    border-color: #8b8c93;
  }
}

.sign-up-button {
  @extend .btn;
  @extend .w-100;

  border-radius: 4px;
  padding: 12px 30px 12px 16px;
  font-weight: 600;
  font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  &:focus {
    box-shadow: none;
  }

  &--continue {
    @extend .sign-up-button;
    padding: 12px 30px 12px 30px !important;

    &:hover {
      background: #19A463;
      color: #FFFFFF;
    }

    color: #FFFFFF;
    background-color: #1DBF73;
  }

  &--facebook {
    @extend .sign-up-button;

    &:hover {
      -webkit-filter: brightness(110%);
      color: #FFFFFF;
    }

    background-color: #4267B2;
    color: #FFFFFF;
  }

  &--google, &--apple {
    @extend .sign-up-button;

    &:hover {
      color: #616161;
      background-color: #EFEFEF;
      border: 1px solid #E4E5E7;
    }

    border: 1px solid #E4E5E7;
    background-color: #FFFFFF;
    color: #505050;
  }

  &--logo {
    width: 18px;
    height: 18px;
  }

  &--alt {
    margin-bottom: -1px;
    width: 100%;
  }
}

.sign-up-separator {
  &--row {
    @extend .row;
    text-align: center;
    margin: 20px 0 20px;
  }

  font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
  color: #858585;
}

.sign-up-separator:before, .sign-up-separator:after {
  background-color: darkgrey;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 32%;
}

.sign-up-separator:before {
  right: 0.5em;
  margin-left: -50%;
}

.sign-up-separator:after {
  left: 0.5em;
  margin-right: -50%;
}
