@import '~bootstrap/scss/bootstrap.scss';

$row-height: 100vh;
$slide-height: 60vh;

.carousel-row {
  min-height: $row-height;
  max-height: max-content;
  --bs-gutter-x: 0 !important;
}

.carousel-slide {
  @extend .d-block;
  @extend .w-100;
  width: auto;
  height: $slide-height;
}
