@import '~bootstrap/scss/bootstrap.scss';
@import "~aos/src/sass/aos";
.checklist-container-parent {
  @extend .container-fluid;
  background-color: #0d084d;
}

.checklist-container {
  @extend .container;
  @extend .px-3;
  @extend .py-4;
  @extend .my-5;
}

.checklist-row {
  @extend .row;
  @extend .row-cols-md-2;
  display: flex;
  justify-content: space-between;
}

.text-area {
  max-width: 400px;
  padding-bottom: 24px;
  font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
  color: #efefef;
}

.business-heading {
  @extend .text-area;
  font-weight: bolder;
}

.business-common {
  @extend .text-area;
  font-size: 18px;
  line-height: 26px;
}

.image-col {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  &--img {
    max-width: 500px;
    width: 100%;
    height: auto;
    max-height: 500px;
  }
}

.check-img {
  @extend .my-2;
  width: 30px;
  height: 30px;
}

.business-checklist {
  @extend .text-area;
  max-width: fit-content;
  font-size: 18px;
  padding-bottom: 0;
  padding-top: 2rem;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;

  &--li {
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;

    &--img {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }
    
    &:hover {
      text-decoration: underline;
    }
  }
}

[data-aos="custom"] {
  transform: scale(1.0);
  filter: invert(50%);
  transition: trasform, filter;
  
  &.aos-animate {
    filter: invert(47%) sepia(97%) saturate(2535%) hue-rotate(122deg) brightness(92%) contrast(80%);
    transform: scale(1.2);
  }
}
